emacs/recentf
fish/completions/*.fish
fish/fish_read_history
vim/.netrwhist
vim/bundle/
vim/plugged/
vim/flavors/
vim/.vim-flavor/
VimFlavor.lock
vim/sessions/
vim/shada/
vim/spell/*.spl
vim/tmp/
vim/vimrc.local
