# all.snippets - Global snippets

snippet author "Author's name" !
`!v snippet_helper#Author()`
endsnippet

snippet email "Author's email" !
`!v snippet_helper#Email()`
endsnippet

snippet date "Current date" !
`!v strftime('%B %e, %Y')`
endsnippet

snippet "copy(right)?" "Copyright notice" !r
© `!v strftime('%Y')` `!v snippet_helper#Author()`
endsnippet

