# html_bootstrap.snippets - Snippets for html file type (Twitter Bootstrap snippets)

snippet well "HTML <div class='well'>" !b
<div class="well">
	$0
</div>
endsnippet

snippet btn "HTML <a class='btn'>"
<a class="btn${1: btn-primary}" href="${2:#}">${3:$2}</a>
endsnippet

# TODO:
#   alert
#   form-horizontal
#   control-group
#   icons
