# all.snippets - Global snippets

snippet author "Author's name"
`!v nox#snippet#Author()`
endsnippet

snippet email "Author's email"
`!v nox#snippet#Email()`
endsnippet

snippet date "Current date (%Y-%m-%d)"
`!v strftime('%Y-%m-%d')`
endsnippet

snippet Date "Current date (%B %e, %Y)"
`!v strftime('%B %e, %Y')`
endsnippet

snippet "copy(right)?" "Copyright notice" r
`!v nox#snippet#Copyright()`
endsnippet

