# all.snippets - Global snippets

snippet author "Author's name"
`!v my#project#get("author")`
endsnippet

snippet email "Author's email"
`!v my#project#get("email")`
endsnippet

snippet date "Current date (%Y-%m-%d)"
`!v strftime('%Y-%m-%d')`
endsnippet

snippet Date "Current date (%B %e, %Y)"
`!v strftime('%B %e, %Y')`
endsnippet

snippet "copy(right)?" "Copyright notice" r
`!v my#project#get("copyright")`
endsnippet

