# fish.snippets - Snippets for fish file type

snippet _skel "function" b
function `!v expand('%:t:r')` --description ''
	$0
end
endsnippet

snippet ! "fish shebang" b
#!/usr/bin/env fish
endsnippet

snippet abbr "abbreviation" b
abbr --add --global ${1:trigger} ${2:expansion}
endsnippet
