# fish.snippets - Snippets for fish file type

snippet _skel "function" b
function `!v expand('%:t:r')` --description ''
	$0
end
endsnippet

snippet ab "abbreviation" b
abbr --add ${1:trigger} ${2:expansion}
endsnippet
