# javascript.snippets - Snippets for javascript file type

#
# CodeKit Imports
#
snippet append "@codekit-append" b
//@codekit-append "${1:script}.js";
endsnippet

snippet prepend "@codekit-prepend" b
//@codekit-prepend "${1:script}.js";
endsnippet

snippet include "@codekit-prepend" b
//@codekit-prepend "${1:script}.js";
endsnippet
