# json.snippets - Snippets for json file type

snippet _vim "Vim plug-in addon-info.json" b
{
	"name": "${1:`!v nox#project#get("title")`}",
	"version": "0.1.0",
	"author": "`!v nox#project#get("author")`",
	"description": "$2",
	"homepage": "https://github.com/`!v nox#project#get("github")`/vim-$1",
	"script_id": "$3"
}
endsnippet
