# markdown.snippets - Snippets for markdown file type

snippet help "Vim :help linked to SourceForge"
[\`:help $1\`](http://vimdoc.sourceforge.net/htmldoc/${2:options}.html#$1)
endsnippet

snippet help "Vim :help linked to Appspot"
[\`:help $1\`](https://vimhelp.appspot.com/${2:options}.txt.html#$1)
endsnippet

snippet C "Vim control key chord"
\`<C-$1>\`
endsnippet
