# php_kohana.snippets - Snippets for php_kohana file type

#
# General
#
snippet guard "defined('SYSPATH')..."
defined('SYSPATH') or die('No direct script access.');
endsnippet

#
# Kohana Utilities
#

# TODO: Auth, HTML, etc., Kohana::$log, Kohana::$config
